.gray-button {
  background: #666666 url(/images/white-right-arrow@2x.png) no-repeat center right 8px;
  color: white;
  background-size: 7px 10px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 10px;
  border: 0;
  font-family: "nudista-web", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 200; }

.btn-orange {
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background: #cfa086;
  color: white;
  font-family: "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px; }
  .btn-orange.bright {
    background: #f26522; }
  .btn-orange:hover {
    background: #f26522; }
  .btn-orange.large {
    width: 179px;
    height: 59px;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px; }

.btn-white {
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background: white;
  border: 1px solid #333333;
  color: #333333;
  width: 179px;
  height: 59px;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px; }

.btn-blue {
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background: #00bff3;
  color: white; }

.gray-button {
  background: #666666 url(/images/white-right-arrow@2x.png) no-repeat center right 8px;
  color: white;
  background-size: 7px 10px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 10px;
  border: 0;
  font-family: "nudista-web", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 200; }

.btn-orange {
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background: #cfa086;
  color: white;
  font-family: "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px; }
  .btn-orange.bright {
    background: #f26522; }
  .btn-orange:hover {
    background: #f26522; }
  .btn-orange.large {
    width: 179px;
    height: 59px;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px; }

.btn-white {
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background: white;
  border: 1px solid #333333;
  color: #333333;
  width: 179px;
  height: 59px;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px; }

.btn-blue {
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background: #00bff3;
  color: white; }

input[type="submit"] {
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  background-color: #898a8a;
  border-color: #898a8a; }
  input[type="submit"]:hover {
    color: white; }

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="hidden"]) {
  background: #e5e5e5;
  color: #666666;
  border: none;
  border-radius: 4px;
  padding: 9px 12px; }

.select2-container.select2-dropdown-open .select2-choice {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }
.select2-container.select2-dropdown-open.select2-drop-above .select2-choice {
  border: 1px solid #cccccc;
  border-top: none;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
.select2-container .select2-choice {
  background: white !important;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 5px 8px;
  height: auto;
  color: #666666; }
  .select2-container .select2-choice .select2-arrow {
    border-left: none;
    background: transparent;
    padding-right: 8px; }
    .select2-container .select2-choice .select2-arrow b {
      background: url("../images/select2-arrows.png") no-repeat scroll center center/7px 13px transparent !important; }

.select2-drop-active {
  border: 1px solid #cccccc;
  border-top: none; }
  .select2-drop-active.select2-drop-above {
    border-top: 1px solid #cccccc !important;
    border-bottom: none; }
    .select2-drop-active.select2-drop-above .select2-results {
      padding: 4px 0 0 0; }
  .select2-drop-active .select2-results {
    color: #666666;
    margin: 0;
    padding: 0 0 4px 0; }
    .select2-drop-active .select2-results .select2-highlighted {
      background-color: transparent;
      color: #00aeef; }

* {
  outline: 0; }

.container {
  max-width: 1024px; }

body {
  font-family: "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: #e5e5e5; }

a {
  color: #00aeef;
  text-decoration: none;
  outline: 0; }
  a:hover {
    color: #00aeef;
    text-decoration: underline; }
  a:focus {
    color: #666666;
    text-decoration: none;
    outline: 0; }

nav a {
  display: inline-block; }

.white-back {
  background: white; }

.center-item {
  margin: 0 auto;
  float: none; }

header.top {
  background: #e5e5e5; }
  @media (max-width: 992px) {
    header.top {
      display: none; } }
header.bottom {
  background: white; }
  @media (max-width: 992px) {
    header.bottom {
      display: none; } }
header a {
  color: #666666; }
header .account {
  float: right; }
  header .account a {
    font-family: "nudista-web", Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 11px 18px;
    float: left;
    border-right: 1px solid white;
    font-size: 12px;
    line-height: 12px; }
    header .account a:first-child {
      border-left: 1px solid white; }
    header .account a:hover {
      background: #4a4a4a;
      color: white;
      text-decoration: none; }
    header .account a.cart {
      background: url(../images/icon-cart.png) no-repeat;
      background-size: 24px 15px;
      background-position: 15px center;
      padding-left: 45px;
      padding-right: 14px;
      position: relative; }
      header .account a.cart:hover {
        text-decoration: none;
        color: #f26522; }
      header .account a.cart .count {
        position: absolute;
        left: 23px;
        top: 3px;
        font-weight: bold; }
header .main {
  background: white;
  padding-left: 60px;
  text-align: center; }
  @media (max-width: 991px) {
    header .main {
      width: 100%; } }
  header .main li {
    float: left;
    list-style-type: none; }
  header .main a {
    padding: 22px 18px;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase; }
    header .main a:hover, header .main a:active {
      text-decoration: none;
      color: black; }
    header .main a.logo {
      position: absolute;
      top: -33px;
      left: 0;
      margin-right: 12px;
      padding: 0; }
    header .main a.collections {
      width: 160px; }
header #search {
  background: white;
  border-radius: 0px;
  padding: 0px;
  width: 125px;
  float: left;
  margin-top: -3px; }
header .mobile-search {
  display: none; }
header .search, header .mobile-search {
  padding-top: 14px;
  padding-bottom: 14px; }
  header .search .input-container, header .mobile-search .input-container {
    padding-right: 0px; }
  header .search .ui-effects-wrapper input, header .mobile-search .ui-effects-wrapper input {
    width: 100% !important;
    height: 32px !important; }
  header .search input, header .mobile-search input {
    font-size: 12px;
    line-height: 12px;
    padding-top: 11px !important;
    padding-bottom: 7px !important;
    border-radius: 0px; }
  header .search .search-wrapper, header .mobile-search .search-wrapper {
    border: 1px solid #999999;
    width: 32px;
    float: right;
    overflow: hidden;
    padding-left: 10px;
    position: relative; }
  header .search .icon, header .mobile-search .icon {
    background: white url(../images/icon-search.png) no-repeat;
    background-size: 13px 13px;
    background-position: center center;
    min-width: 28px;
    width: 100%;
    height: 28px;
    position: absolute;
    right: 0px;
    cursor: pointer;
    width: 30px; }
    @media (max-width: 768px) {
      header .search .icon, header .mobile-search .icon {
        margin-right: 0; } }
  @media (max-width: 992px) {
    header .search, header .mobile-search {
      padding: 14px 15px; }
      header .search .icon, header .mobile-search .icon {
        padding-right: 12px;
        margin-right: 0; }
      header .search .input-container, header .mobile-search .input-container {
        padding-right: 0; }
      header .search .search-wrapper, header .mobile-search .search-wrapper {
        border: 1px solid #999999;
        width: 100%;
        float: right;
        overflow: hidden;
        padding-left: 10px;
        position: relative; } }

.top-header {
  color: #333333;
  border-top: 1px solid #e5e5e5;
  padding-top: 10px;
  padding-bottom: 20px; }
  .top-header h1 {
    font-family: "nudista-web", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 200;
    font-size: 63px; }
  .top-header .tagline {
    font-family: "nudista-web", Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 28px;
    font-size: 14px;
    background: url(/images/brand-header-hr@2x.png);
    background-size: 806px 32px;
    width: 806px;
    height: 32px; }
    .top-header .tagline span {
      color: #898a8a; }

header.mobile {
  display: none; }
  @media (max-width: 992px) {
    header.mobile {
      display: block !important;
      background: white; }
      header.mobile nav {
        padding: 0;
        background: url(../images/mobile-logo@2x.png) no-repeat;
        background-position: center center;
        background-size: 38px 44px; }
      header.mobile a {
        vertical-align: bottom; }
      header.mobile .menu {
        background: url(/images/hamburger.png);
        height: 20px;
        width: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 15px; } }
  header.mobile .right-menu {
    float: right;
    margin-top: 55px;
    margin-right: 15px; }
    header.mobile .right-menu .location {
      background: url(/images/map-pin@2x.png);
      background-size: 10px 15px;
      width: 10px;
      height: 15px;
      margin-right: 10px; }
    header.mobile .right-menu .search-icon {
      background: url(/images/search-icon@2x.png);
      background-size: 15px 15px;
      width: 15px;
      height: 15px;
      margin-right: 10px; }
    header.mobile .right-menu .cart {
      background: url(/images/cart@2x.png);
      background-size: 15px 15px;
      width: 15px;
      height: 15px; }

footer h4 {
  text-transform: uppercase;
  color: #666666;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  margin-bottom: 4px; }
footer.top {
  background: white;
  padding-top: 16px; }
  footer.top .container {
    padding-left: 4%;
    padding-right: 4%; }
  @media (max-width: 992px) {
    footer.top {
      display: none; } }
footer.bottom {
  font-family: "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: #e5e5e5; }
  @media (max-width: 992px) {
    footer.bottom {
      display: none; } }
footer .divider {
  border-top: 1px solid #cccccc;
  height: 1px; }
footer .follow {
  min-width: 140px; }
  @media (max-width: 768px) {
    footer .follow {
      text-align: center; } }
@media (max-width: 768px) {
  footer .customer-service {
    text-align: center; } }
footer .newsletter {
  float: right; }
  footer .newsletter input {
    display: inline-block;
    width: 100%; }
    footer .newsletter input[type="submit"] {
      text-transform: uppercase; }
  footer .newsletter .subscribe {
    padding-left: 0; }
  @media (max-width: 991px) {
    footer .newsletter input[type="submit"] {
      margin-top: 10px; }
    footer .newsletter .subscribe {
      padding-left: 15px; } }
  @media (max-width: 768px) {
    footer .newsletter {
      float: none;
      text-align: center; } }
footer .social {
  padding-top: 6px; }
  footer .social a {
    background-repeat: no-repeat;
    background-size: 23px 23px;
    width: 23px;
    height: 23px; }
    footer .social a.facebook {
      background-image: url(../images/icon-social-facebook.png); }
    footer .social a.twitter {
      background-image: url(../images/icon-social-twitter.png); }
    footer .social a.instagram {
      background-image: url(../images/icon-social-instagram.png); }
    footer .social a.youtube {
      background-image: url(../images/icon-social-youtube.png); }
footer .links {
  font-family: "nudista-web", Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-top: 58px;
  padding-right: 0; }
  footer .links a {
    border-right: 1px solid #e5e5e5;
    float: left;
    padding: 4px 12px 12px 12px;
    color: #666666;
    font-size: 12px;
    line-height: 12px; }
    footer .links a:first-child {
      border-left: 1px solid #e5e5e5; }
    footer .links a:hover {
      text-decoration: none;
      font-weight: bold; }
    footer .links a.warranty {
      width: 75px; }
    footer .links a.passport {
      width: 138px; }
    footer .links a.service {
      width: 129px; }
    footer .links a.story {
      width: 138px; }
    footer .links a.brand {
      width: 126px; }
    @media (max-width: 768px) {
      footer .links a {
        display: block;
        text-align: center;
        border-left: none !important;
        border-right: none !important;
        border-top: 1px solid #e5e5e5; } }
footer .legal {
  float: right;
  font-size: 11px;
  line-height: 11px;
  margin-right: 14px;
  color: #a6a6a6; }
  footer .legal .copyright {
    display: inline-block;
    margin-right: 3px; }
  footer .legal a {
    padding: 6px 0 4px 0; }

footer.mobile {
  display: none;
  overflow-x: hidden; }
  @media (max-width: 992px) {
    footer.mobile {
      display: block !important;
      background: #4a4a4a;
      padding-bottom: 14px; }
      footer.mobile h4, footer.mobile a {
        color: white;
        text-transform: none;
        text-align: left; }
      footer.mobile .btn-gray {
        background: #4a4a4a;
        display: block;
        width: 90%;
        margin: 4px auto 10px auto; }
      footer.mobile .row {
        border-top: 1px solid #646464; }
        footer.mobile .row.newsletter {
          float: none;
          text-align: left; }
          footer.mobile .row.newsletter h4 {
            padding-left: 15px; }
          footer.mobile .row.newsletter .input-container {
            background: #333333; }
          footer.mobile .row.newsletter input[type="email"] {
            background: #333333;
            width: 90%; }
      footer.mobile nav.links {
        margin-top: 0; }
        footer.mobile nav.links a {
          border: none;
          float: left;
          width: 50%;
          padding: 12px; } }

.nav-container {
  position: relative;
  width: 980px;
  margin: auto;
  display: none; }
  .nav-container a {
    height: 57px;
    display: block;
    background: #555555;
    color: white;
    margin-left: -15px;
    padding-left: 15px;
    font-size: 16px;
    font-family: "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 57px; }
    .nav-container a:hover {
      background: #666666;
      text-decoration: none; }

nav li {
  position: relative; }
  nav li:hover .menu-item span {
    border-bottom: 3px solid black;
    padding-bottom: 1px; }
  nav li:hover .menu-nav {
    display: block; }
  nav li span {
    font-family: "nudista-web", Arial, "Helvetica Neue", Helvetica, sans-serif; }

.menu-nav {
  position: absolute;
  left: 0;
  top: 60px;
  background: url(../images/dropdown-border.png);
  padding: 0 4px 4px 4px;
  z-index: 99;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: none; }
  .menu-nav a {
    display: block;
    background: white;
    color: #999999; }
    .menu-nav a:hover {
      text-decoration: none; }
  .menu-nav .sub-nav-container {
    background: white;
    width: 100%;
    padding: 6px 15px 45px 15px;
    text-align: left; }
  .menu-nav .sub-nav-row {
    display: table-row; }
  .menu-nav .sub-nav {
    display: table-cell;
    border-right: 1px solid #cccccc;
    padding: 0 24px 0 18px;
    vertical-align: top; }
    .menu-nav .sub-nav h4 {
      font-family: "nudista-web", Arial, "Helvetica Neue", Helvetica, sans-serif;
      margin: 2px 0 8px 0;
      font-size: 13px;
      line-height: 14px;
      text-transform: uppercase;
      font-weight: bold;
      color: black; }
    .menu-nav .sub-nav h5 {
      font-family: "nudista-web", Arial, "Helvetica Neue", Helvetica, sans-serif;
      color: black;
      border-bottom: 1px solid black;
      text-transform: uppercase;
      margin: 20px 0 10px 0;
      padding-bottom: 2px; }
    .menu-nav .sub-nav a {
      font-family: "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      margin-left: 10px;
      width: 100%;
      font-size: 13px;
      line-height: 14px;
      padding: 4px 0;
      text-transform: none; }
      .menu-nav .sub-nav a:hover {
        color: black; }
    .menu-nav .sub-nav a.all {
      font-family: "nudista-web", Arial, "Helvetica Neue", Helvetica, sans-serif;
      color: #999999;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 12px;
      margin-bottom: 6px;
      margin-left: 0; }
      .menu-nav .sub-nav a.all span {
        background: url(../images/right-arrow-gray@2x.png) no-repeat;
        background-size: 6px 9px;
        display: inline-block;
        width: 6px;
        height: 9px;
        margin-left: 4px; }
    .menu-nav .sub-nav.men {
      padding-left: 0; }
  .menu-nav.collections {
    width: 160px;
    left: 0px; }
    .menu-nav.collections a {
      border-top: 1px solid #b9b9b9;
      text-transform: uppercase;
      text-align: center;
      padding: 8px;
      width: 100%; }
      .menu-nav.collections a:first-child {
        border-top: none; }
      .menu-nav.collections a:hover {
        background: #666666;
        color: white; }
  .menu-nav.shop-by {
    width: 968px;
    display: none;
    left: -315px; }
  .menu-nav.discover {
    display: none;
    left: -415px; }
    .menu-nav.discover a {
      margin-left: 0; }
  .menu-nav.performance {
    display: none;
    left: -445px; }
    .menu-nav.performance a {
      margin-left: 0; }

.menu-nav .sub-nav h5.sub-section {
  margin-top: 20px; }

.sub-nav.ski-collections a, .sub-nav.ski-technology a {
  margin-left: 0; }

.sub-nav.ski-technology {
  border-right: 0; }

.sub-nav.no-border {
  border-right: 0; }

.sub-nav.featured {
  background: url(/images/right-menu-shadow@2x.png) no-repeat;
  background-size: 14px 459px;
  border-right: none; }
  .sub-nav.featured p {
    font-family: "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 100;
    color: #666666;
    width: 200px; }

.sub-nav.customer-service, .sub-nav.passport, .sub-nav.national {
  min-width: 155px; }

.sub-nav.press {
  min-width: 90px; }

.sub-nav.insulation {
  min-width: 120px; }

.sub-nav.technology {
  min-width: 150px; }

.sub-nav.fabric {
  min-width: 200px; }

.ui-widget-header {
  background: none;
  border: 0;
  padding-left: 0; }

.ui-tabs .ui-tabs-nav {
  padding-left: 0; }

.ui-widget-content {
  background: none;
  border: none; }

.ui-tabs .ui-tabs-panel {
  background: white;
  border: 1px solid #cccccc; }

.ui-tabs .ui-state-hover a, .ui-state-hover {
  background: none;
  color: #999999; }

.ui-state-default, .ui-state-focus a {
  color: #999999; }

.ui-tabs li.ui-tabs-active {
  background: white; }

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  color: #666666;
  background: white; }

.ui-tabs .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  background: white;
  color: #666666;
  border-bottom: 0; }

.ui-state-active a, .ui-state-active {
  background: white;
  color: #666666; }

.ui-state-default a, .ui-state-default a:link {
  font-family: "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 200; }

.ui-state-active a, .ui-state-active a:link {
  color: #666666; }

.ui-tabs .ui-tabs-nav li {
  background: #f7f7f7;
  border: 1px solid #cccccc;
  border-bottom: 0; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: none;
  background: #f7f7f7; }

#accoridan .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: none;
  border-top: 1px solid #cccccc;
  background: none;
  color: #cccccc; }

.ui-accordion .ui-accordion-header {
  padding: 0;
  margin: 0;
  height: 41px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 200;
  border-radius: 0;
  color: #898a8a;
  line-height: 31px; }

.ui-state-active {
  color: #898a8a; }

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  right: 0px;
  top: 8px;
  left: auto; }

#accordian-categories .ui-accordion .ui-accordion-header {
  height: 28px; }

.slider {
  height: 575px; }
  .slider .rsImg {
    width: 100%; }

.customer-service .select2-container {
  width: 100%; }

#tabs {
  margin-bottom: 20px; }
  #tabs h1 {
    font-family: "nudista-web", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 25px;
    padding-top: 0px;
    margin-top: 0px; }

#tabs-3 h1 {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 10px;
  padding-bottom: 10px; }

.item-box {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background: white;
  border: 1px solid #cccccc;
  border-radius: 5px; }
  .item-box h1 {
    font-family: "nudista-web", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 25px;
    border-bottom: 1px solid #cccccc;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 10px;
    margin-bottom: 20px; }

.video-wrapper {
  display: inline-block;
  margin-right: 15px;
  width: 330px;
  vertical-align: top;
  position: relative; }
  .video-wrapper.no-margin {
    margin-right: 0; }
  .video-wrapper h3 {
    font-family: "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    color: #666666;
    margin-top: 10px; }
  .video-wrapper p {
    font-family: "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    color: #666666; }

.video-share-section {
  float: right; }
  .video-share-section .video-share {
    color: #999999;
    font-family: "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 600;
    float: left;
    border-right: 1px solid lightgray;
    padding-right: 5px; }
    .video-share-section .video-share:hover {
      color: #666666; }
    .video-share-section .video-share .share-box {
      position: absolute;
      right: 0;
      background: white;
      padding: 10px;
      width: 135px;
      -webkit-box-shadow: 2px 2px 7px 2px rgba(50, 50, 50, 0.14);
      -moz-box-shadow: 2px 2px 7px 2px rgba(50, 50, 50, 0.14);
      box-shadow: 2px 2px 7px 2px rgba(50, 50, 50, 0.14);
      display: none; }
  .video-share-section .video-embed {
    position: relative;
    color: #999999;
    font-family: "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 600;
    float: left;
    padding-left: 5px; }
    .video-share-section .video-embed:hover {
      color: #666666; }
    .video-share-section .video-embed .embed-box {
      display: none;
      position: absolute;
      right: 0;
      background: white;
      padding: 10px;
      width: 340px;
      -webkit-box-shadow: 2px 2px 7px 2px rgba(50, 50, 50, 0.14);
      -moz-box-shadow: 2px 2px 7px 2px rgba(50, 50, 50, 0.14);
      box-shadow: 2px 2px 7px 2px rgba(50, 50, 50, 0.14); }
      .video-share-section .video-embed .embed-box textarea {
        border: 1px solid lightgray;
        font-family: "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-weight: 200;
        font-size: 13px;
        color: black;
        height: 68px;
        width: 100%;
        padding: 5px;
        margin-top: 5px; }
      .video-share-section .video-embed .embed-box .close {
        background: url(/images/close-embed@2x.png);
        background-size: 11px 11px;
        height: 11px;
        width: 11px;
        position: relative;
        right: 0; }

.twitter-share {
  background: url(/images/twitter-share@2x.png);
  background-size: 32px 32px;
  height: 32px;
  width: 32px;
  margin-right: 8px;
  float: left; }

.facebook-share {
  background: url(/images/facebook-share@2x.png);
  background-size: 32px 32px;
  height: 32px;
  width: 32px;
  margin-right: 8px;
  float: left; }

.googleplus-share {
  background: url(/images/googleplus-share@2x.png);
  background-size: 32px 32px;
  height: 32px;
  width: 32px;
  float: left; }

.download-box {
  height: 141px;
  width: 141px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  display: inline-block;
  background: url(/images/image-download-icon@2x.png) center center no-repeat;
  background-size: 44px 36px; }
  .download-box.pdf {
    background: url(/images/pdf-icon@2x.png) center center no-repeat;
    background-size: 39px 48px; }
  .download-box.xls {
    background: url(/images/xls-icon@2x.png) center center no-repeat;
    background-size: 38px 48px; }
  .download-box .download-cover {
    display: none; }
  .download-box:hover .download-cover {
    display: block;
    background: #e5e5e5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px; }
  .download-box .download-text {
    font-family: "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #666666;
    font-size: 13px;
    font-weight: 100;
    z-index: 10;
    position: absolute;
    bottom: 5px;
    text-align: center;
    width: 100%; }

.accordian-header-open {
  background: url(/images/accordian-closed@2x.png) center right;
  background-image: url(/images/accordian-closed@2x.png) !important;
  background-size: 41px 41px;
  height: 41px;
  width: 41px;
  float: right; }

.accordian-header-closed {
  background: url(/images/accordian-open@2x.png);
  background-image: url(/images/accordian-open@2x.png) !important;
  background-size: 41px 41px;
  height: 41px;
  width: 41px; }

#carousel-popup {
  height: 333px;
  width: 90%;
  position: fixed;
  z-index: 100;
  margin-left: 5%;
  left: 0px;
  top: 50%;
  margin-top: -165px;
  background: white;
  -webkit-box-shadow: 2px 2px 7px 2px rgba(50, 50, 50, 0.14);
  -moz-box-shadow: 2px 2px 7px 2px rgba(50, 50, 50, 0.14);
  box-shadow: 2px 2px 7px 2px rgba(50, 50, 50, 0.14);
  border: 1px solid #cccccc; }
  #carousel-popup .title-header {
    padding: 10px;
    height: 77px;
    text-align: center;
    position: relative; }
    #carousel-popup .title-header .popup-close {
      background: url("/images/red-close-btn@2x.png");
      background-size: 39px 39px;
      width: 39px;
      height: 39px;
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0; }
    #carousel-popup .title-header .center-line {
      position: relative;
      top: -23px;
      left: 0;
      border-top: 1px solid #cccccc;
      z-index: 2; }
    #carousel-popup .title-header .popup-title {
      position: relative;
      background: white;
      margin-top: 6px;
      border-left: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
      font-family: "nudista-web", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-weight: 100;
      font-size: 32px;
      color: black;
      padding-left: 30px;
      padding-right: 30px;
      z-index: 3;
      display: inline-block; }
  #carousel-popup .image-section {
    background: #e5e5e5;
    border-top: 1px solid #cccccc;
    padding-top: 15px;
    overflow: hidden;
    height: 254px; }
    #carousel-popup .image-section .mCSB_draggerContainer {
      top: 10px;
      margin-left: 10px;
      margin-right: 10px; }
    #carousel-popup .image-section .mCSB_scrollTools_horizontal {
      background: white;
      height: 55px;
      border-top: 1px solid #cccccc; }
      #carousel-popup .image-section .mCSB_scrollTools_horizontal .mCSB_draggerRail {
        height: 20px;
        background: #e5e5e5;
        border: 1px solid #cccccc; }
      #carousel-popup .image-section .mCSB_scrollTools_horizontal .mCSB_dragger_bar {
        height: 14px;
        margin: 10px auto;
        background: white;
        border: 1px solid #cccccc;
        margin-left: 2px;
        margin-right: 2px; }
    #carousel-popup .image-section .image-box {
      margin-left: 5px;
      border: 1px solid #666666;
      display: inline-block;
      position: relative; }
      #carousel-popup .image-section .image-box img {
        height: 136px; }
      #carousel-popup .image-section .image-box .item-info {
        border-top: 1px dashed #e0e0e0;
        font-size: 13px;
        font-family: "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
        color: #666666;
        text-align: center; }
      #carousel-popup .image-section .image-box .item-number {
        background: url(/images/gray-lined-back@2x.png);
        color: white;
        font-family: "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 13px;
        text-align: center; }
      #carousel-popup .image-section .image-box .details-cover {
        display: none; }
      #carousel-popup .image-section .image-box:hover .details-cover {
        cursor: pointer;
        display: block;
        background: url("/images/details-back@2x.png");
        width: 100%;
        height: 136px;
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 50px;
        text-align: center; }
        #carousel-popup .image-section .image-box:hover .details-cover .view-details {
          background: url("/images/view-details@2x.png") no-repeat;
          background-size: 73px 51px;
          height: 51px;
          width: 73px;
          margin-left: 20px; }

#detail-popup-back {
  position: fixed;
  height: 100%;
  width: 100%;
  background: url("/images/details-back@2x.png");
  top: 0;
  left: 0;
  z-index: 200; }

#detail-box {
  width: 722px;
  height: 563px;
  background: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: fixed;
  top: 20px;
  z-index: 200;
  left: 50%;
  margin-left: -361px; }
  #detail-box .detail-title {
    font-family: "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 24px;
    color: #333333;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 15px;
    padding-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px; }
  #detail-box .detail-close {
    position: absolute;
    right: 0;
    background: url(/images/details-close@2x.png);
    background-size: 61px 60px;
    width: 61px;
    height: 60px;
    cursor: pointer; }
  #detail-box .detail-prev {
    background: url(/images/details-prev@2x.png);
    background-size: 43px 43px;
    height: 43px;
    width: 43px;
    position: absolute;
    left: 15px;
    top: 205px;
    cursor: pointer; }
  #detail-box .detail-next {
    background: url(/images/details-next@2x.png);
    background-size: 43px 43px;
    height: 43px;
    width: 43px;
    position: absolute;
    right: 15px;
    top: 205px;
    cursor: pointer; }
  #detail-box .detail-image {
    text-align: center; }
    #detail-box .detail-image img {
      max-width: 528px;
      max-height: 337px;
      margin-top: 20px; }

.white-back {
  background: white;
  padding-left: 70px; }

.breadcrumbs {
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 12px;
  color: #cccccc;
  margin-bottom: 10px; }
  .breadcrumbs .current {
    color: #666666; }
  .breadcrumbs a {
    color: #00ccff;
    background: url(/images/products/breadcrumb-arrow@2x.png) no-repeat;
    background-position: right;
    background-size: 5px 12px;
    padding-right: 10px;
    margin-right: 5px; }
  .breadcrumbs a.back {
    color: #00ccff;
    background: url(/images/products/back-arrow-blue@2x.png) no-repeat;
    background-position: left;
    background-size: 5px 12px;
    padding-left: 10px;
    margin-right: 5px; }

.product-top {
  margin-bottom: 10px;
  padding-right: 60px; }

.product-sort {
  float: right;
  color: #7f7f7f;
  font-size: 13px; }
  .product-sort .select2-container .select2-choice {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 11px; }
  .product-sort .select2-container-active {
    box-shadow: none; }
  .product-sort .select2-dropdown-open {
    margin-bottom: 1px; }
  .product-sort .select2-drop-active {
    font-size: 11px; }

#accordian-categories {
  margin-top: 10px; }
  #accordian-categories ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-bottom: 10px; }
    #accordian-categories ul li a {
      background: url(/images/products/category-check@2x.png) no-repeat;
      background-size: 15px 15px;
      padding-left: 20px;
      font-size: 13px;
      color: #666666; }
      #accordian-categories ul li a:hover {
        font-weight: 600;
        text-decoration: none; }
      #accordian-categories ul li a.active {
        background: url(/images/products/category-check-active@2x.png) no-repeat;
        background-size: 15px 15px;
        font-weight: 600; }
  #accordian-categories h3 {
    font-family: "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    color: #666666;
    margin-top: 0px;
    font-weight: 100;
    border-top: 1px solid #666666;
    padding-top: 5px;
    background: url(/images/products/category-arrow-close@2x.png) center right no-repeat;
    background-size: 13px 8px;
    background-position: 147px 10px;
    cursor: pointer; }
    #accordian-categories h3.closed {
      background: url(/images/products/category-arrow-open@2x.png) center right no-repeat;
      background-size: 13px 8px;
      background-position: 147px 10px; }

.hide-menu {
  font-family: "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #666666;
  font-size: 11px;
  padding-bottom: 10px; }

.product-categories {
  width: 171px;
  float: left;
  padding-top: 13px; }

.product-list {
  width: 730px;
  float: left;
  margin-left: 35px; }

.accordian-category-open {
  background: url(/images/products/category-arrow@2x.png);
  background-image: url(/images/products/category-arrow@2x.png) !important;
  background-size: 13px 15px;
  background-position: 0 0;
  height: 7.5px;
  width: 13px;
  float: right; }

.accordian-category-closed {
  background: url(/images/products/category-arrow@2x.png);
  background-image: url(/images/products/category-arrow@2x.png) !important;
  background-size: 13px 15px;
  background-position: 0 7.5px;
  height: 7.5px;
  width: 13px; }

.product-wrapper {
  display: inline-block;
  margin-right: 35px;
  vertical-align: top; }

.product-title {
  font-family: "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 100;
  color: #333333;
  margin-bottom: 4px; }

.product-price {
  font-family: "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 4px; }

.product-sku {
  font-family: "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 100;
  color: #333333; }

.color-swatches {
  margin-top: 10px; }

.color-wrapper {
  width: 18px;
  height: 20px;
  display: inline-block;
  cursor: pointer; }
  .color-wrapper:hover .circle-hover {
    display: block; }
  .color-wrapper.active .circle-hover {
    display: block; }
  .color-wrapper .circle-hover {
    display: none; }

.details-left {
  width: 453px;
  float: left;
  margin-top: 30px; }

.details-right {
  width: 460px;
  float: left;
  margin-left: 57px; }

h1 {
  font-size: 32px;
  font-family: "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-color: #333333;
  margin-top: 0; }

h2 {
  font-size: 14px;
  font-family: "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-color: #333333;
  font-weight: 600; }

.details-price {
  color: #333333;
  font-family: "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  margin-bottom: 5px; }

.details-sku {
  color: #666666;
  font-family: "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 10px;
  margin-bottom: 20px; }

.details-info {
  color: #666666;
  font-family: "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  margin-bottom: 20px; }

.color-info {
  color: #666666;
  font-family: "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  margin-bottom: 10px; }

.color-swatches {
  margin-bottom: 10px; }

.size-header {
  color: #666666;
  font-family: "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  margin-bottom: 10px; }

.size-boxes {
  margin-bottom: 30px; }
  .size-boxes .size {
    border: 1px solid #999999;
    width: 37px;
    height: 32px;
    font-weight: 600;
    color: #333333;
    font-size: 14px;
    border-radius: 3px;
    text-align: center;
    float: left;
    margin-right: 5px;
    cursor: pointer; }
    .size-boxes .size.disabled {
      border: 1px solid #e0e0e0;
      color: #e0e0e0; }
      .size-boxes .size.disabled .size-inner {
        color: #e0e0e0; }
      .size-boxes .size.disabled:hover .size-inner {
        background: white;
        color: #e0e0e0; }
    .size-boxes .size .size-inner {
      background: white;
      color: #333333;
      height: 26px;
      width: 31px;
      border-radius: 2px;
      margin-top: 2px;
      margin-left: 2px;
      padding-top: 3px; }
      .size-boxes .size .size-inner.active {
        background: #333333;
        color: #FFF; }
    .size-boxes .size:hover .size-inner {
      background: #333333;
      color: #FFF; }

.share {
  margin-top: 20px;
  margin-bottom: 15px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 5px;
  padding-bottom: 5px; }
  .share .facebook {
    background: url(/images/product/facebook@2x.png) no-repeat;
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    float: left;
    margin-right: 15px;
    vertical-align: middle; }
    .share .facebook:hover {
      background: url(/images/product/facebook-hover@2x.png) no-repeat;
      background-size: 20px 20px; }
  .share .twitter {
    background: url(/images/product/twitter@2x.png) no-repeat;
    background-size: 20px 16px;
    height: 16px;
    width: 20px;
    cursor: pointer;
    float: left;
    margin-right: 15px;
    vertical-align: middle; }
    .share .twitter:hover {
      background: url(/images/product/twitter-hover@2x.png) no-repeat;
      background-size: 20px 16px; }
  .share .google {
    background: url(/images/product/google@2x.png) no-repeat;
    background-size: 18.5px 18px;
    height: 18px;
    width: 18.5px;
    cursor: pointer;
    float: left;
    margin-right: 15px;
    vertical-align: middle; }
    .share .google:hover {
      background: url(/images/product/google-hover@2x.png) no-repeat;
      background-size: 18.5px 18px; }
  .share .mail {
    background: url(/images/product/mail@2x.png) no-repeat;
    background-size: 18.5px 13.5px;
    height: 13.5px;
    width: 18.5px;
    cursor: pointer;
    float: left;
    margin-right: 15px;
    vertical-align: middle; }
    .share .mail:hover {
      background: url(/images/product/mail-hover@2x.png) no-repeat;
      background-size: 18.5px 13.5px; }

.video-info {
  float: left;
  font-family: "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  font-color: #666666;
  font-weight: 200;
  width: 250px;
  margin-left: 15px; }

.product-video {
  float: left;
  background: url(/images/product/video@2x.png) no-repeat;
  background-size: 170px 103.5px;
  width: 170px;
  height: 103.5px;
  cursor: pointer; }

.product-info p {
  font-weight: 200; }

.related-products {
  margin-top: 20px; }
  .related-products img {
    margin-right: 10px; }

.customer-service h1 {
  text-align: center;
  font-size: 62px;
  font-family: "nudista-web", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300; }

#tabs-min {
  background: transparent;
  border: none; }

#tabs-min .ui-widget-header {
  background: transparent;
  border: none;
  border-bottom: 0;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px; }

#tabs-min .ui-tabs-panel {
  border-top: 0px;
  padding: 47px; }
  #tabs-min .ui-tabs-panel h1 {
    font-family: "nudista-web", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 300;
    padding-bottom: 20px; }
  #tabs-min .ui-tabs-panel h2 {
    color: #999999;
    font-size: 17px; }
  #tabs-min .ui-tabs-panel p {
    color: #363636;
    font-size: 17px; }

#tabs-min .ui-tabs-nav li {
  margin-right: 1px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 8px;
  padding-bottom: 8px; }

#tabs-min .ui-tabs-nav a#ui-id-3 {
  padding-right: 20px;
  padding-left: 19px; }

#tabs-min .ui-tabs-nav .ui-state-default {
  background: #7fd6f7;
  border: none;
  border-radius: 0; }

.bottom-arrow {
  height: 17px;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: -17px; }

#tabs-min .ui-tabs-nav .ui-state-default.ui-state-active {
  border: none;
  background: #00aeef; }
  #tabs-min .ui-tabs-nav .ui-state-default.ui-state-active .bottom-arrow {
    display: block; }

#tabs-min .ui-tabs-nav .ui-state-default .bottom-arrow {
  display: none; }
#tabs-min .ui-tabs-nav .ui-state-default:hover {
  color: #FFFFFF;
  background: #00aeef; }
  #tabs-min .ui-tabs-nav .ui-state-default:hover .bottom-arrow {
    display: block; }
  #tabs-min .ui-tabs-nav .ui-state-default:hover a {
    color: #FFFFFF;
    background: #00aeef; }

#tabs-min .ui-tabs-nav .ui-state-default a {
  font-family: "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  color: #FFFFFF;
  background: #7fd6f7;
  display: block; }
  #tabs-min .ui-tabs-nav .ui-state-default a:hover {
    color: #FFFFFF;
    background: #00aeef; }

#tabs-min .ui-tabs-nav .ui-state-active a {
  color: #FFFFFF;
  background: #00aeef; }

#tabs-min .scroller {
  overflow: visible; }

#tabs-min ul {
  width: 1024px; }
