@import 'colors';

@mixin btn {
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

@mixin btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

@mixin btn-gray {
  @include btn;
  color: white;
  background-color: $gray;
  border-color: $gray;
  &:hover {
    color: white;
  }
}

.gray-button{
  background: $font-color url(/images/white-right-arrow@2x.png) no-repeat center right 8px;
  color: white;
  background-size: 7px 10px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 10px;
  border: 0;
  font-family: $nudista;
  font-size: 14px;
  font-weight: 200;
}

.btn-orange{
  @include btn;
  background: $orange;
  color: white;
  font-family: $noto-sans;
  font-size: 13px;
  &.bright{
    background: $bright-orange;
  }
  &:hover{
    background: $bright-orange;
  }
  &.large{
    width: 179px;
    height: 59px;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
  }
}

.btn-white{
  @include btn;
  background: white;
  border: 1px solid $darker-gray;
  color: $darker-gray;
  width: 179px;
  height: 59px;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}

.btn-blue{
  @include btn;
  background: #00bff3;
  color: white;
}