
$lighter-gray: #f2f2f2;
$light-gray: #cccccc;
$lighter-gray: #e5e5e5;
$lightest-gray: #f7f7f7;
$another-gray: #7f7f7f;
$medium-light-gray: #b9b9b9;
$gray: #898a8a;
$medium-dark-gray: #646464;
$dark-gray: #4a4a4a;
$darker-gray: #333333;
$orange: #cfa086;
$blue: #00bff3;
$gray-accordian-header: #8f8f8f;

$lighter-font-color: #a6a6a6;
$light-font-color: #999999;
$font-color: #666666;
$link-color: #00aeef;
$gray-menu: #555555;
$light-gray-border: #d3d3d3;
$bright-orange: #f26522;
$dashed-border-gray: #e0e0e0;
$blue-link: #00ccff;
