@import 'colors';
@import 'buttons';

input[type="submit"] {
  @include btn-gray;
}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="hidden"]) {
  background: $lighter-gray;
  color: $font-color;
  border: none;
  border-radius: 4px;
  padding: 9px 12px;
}
.select2-container {
  $border-radius: 4px;
  &.select2-dropdown-open .select2-choice {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  &.select2-dropdown-open.select2-drop-above .select2-choice {
    border: 1px solid $light-gray;
    border-top: none;
    border-radius: $border-radius;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .select2-choice {
    background: white !important;
    border: 1px solid $light-gray;
    border-radius: $border-radius;
    padding: 5px 8px;
    height: auto;
    color: $font-color;
    .select2-arrow {
      border-left: none;
      background: transparent;
      padding-right: 8px;
      b {
        background: url('../images/select2-arrows.png') no-repeat scroll center center / 7px 13px transparent !important;
      }
    }
  }
}
.select2-drop-active {
  border: 1px solid $light-gray;
  border-top: none;
  &.select2-drop-above {
    border-top: 1px solid $light-gray !important;
    border-bottom: none;
    .select2-results {
      padding: 4px 0 0 0;
    }
  }
  .select2-results {
    color: $font-color;
    margin: 0;
    padding: 0 0 4px 0;
    .select2-highlighted {
      background-color: transparent;
      color: $link-color;
    }
  }
}