
$noto-sans: 'Noto Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$nudista: 'nudista-web', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$lucida: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
$myriad: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;

