@import '../modules/colors';

* {
 outline: 0; 
}

.container {
  max-width: 1024px;
}
body {
  font-family: $noto-sans;
  background: $lighter-gray;
}
a {
  color: $link-color;
  text-decoration: none;
  outline: 0;
  &:hover {
    color: $link-color;
    text-decoration: underline;
  }
  &:focus {
    color: $font-color;
    text-decoration: none;
    outline: 0;
  }
}
nav a {
  display: inline-block;
}

.white-back{
  background: white;
}

.center-item{
  margin: 0 auto;
  float: none;
}