@import '../modules/colors';
@import '../modules/typography';
@import '../modules/variables';
footer {
  h4 {
    text-transform: uppercase;
    color: $font-color;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    margin-bottom: 4px;
  }
  &.top {
    background: white;
    padding-top: 16px;
    .container {
      padding-left: 4%;
      padding-right: 4%;
    }
    @media (max-width: $mobile-width) {
      display: none;
    }
  }
  &.bottom {
    font-family: $noto-sans;
    background: $lighter-gray;
    @media (max-width: $mobile-width) {
      display: none;
    }
  }
  .divider {
    border-top: 1px solid $light-gray;
    height: 1px;
  }
  .follow {
    min-width: 140px;
    @media (max-width: 768px) {
      text-align: center;
    }
  }
  .customer-service {
    @media (max-width: 768px) {
      text-align: center;
    }
  }
  .newsletter {
    float: right;
    input {
      display: inline-block;
      width: 100%;
      &[type="submit"] {
        text-transform: uppercase;
      }
    }
    .subscribe {
      padding-left: 0;
    }
    @media (max-width: 991px) {
      input[type="submit"] {
        margin-top: 10px;
      }
      .subscribe {
        padding-left: 15px;
      }
    }
    @media (max-width: 768px) {
      float: none;
      text-align: center;
    }
  }
  .social {
    padding-top: 6px;
    a {
      background-repeat: no-repeat;
      background-size: 23px 23px;
      width: 23px;
      height: 23px;
      &.facebook {
        background-image: url(../images/icon-social-facebook.png);
      }
      &.twitter {
        background-image: url(../images/icon-social-twitter.png);
      }
      &.instagram {
        background-image: url(../images/icon-social-instagram.png);
      }
      &.youtube {
        background-image: url(../images/icon-social-youtube.png);
      }
    }
  }
  .links {
    font-family: $nudista;
    margin-top: 58px;
    padding-right: 0;
    a {
      border-right: 1px solid $lighter-gray;
      float: left;
      padding: 4px 12px 12px 12px;
      color: $font-color;
      font-size: 12px;
      line-height: 12px;
      &:first-child {
        border-left: 1px solid $lighter-gray;
      }
      &:hover {
        text-decoration: none;
        font-weight: bold;
      }
      &.warranty {
        width: 75px;
      }
      &.passport {
        width: 138px;
      }
      &.service {
        width: 129px;
      }
      &.story {
        width: 138px;
      }
      &.brand {
        width: 126px;
      }
      @media (max-width: 768px) {
        display: block;
        text-align: center;
        border-left: none !important;
        border-right: none !important;
        border-top: 1px solid $lighter-gray;
      }
    }
  }
  .legal {
    float: right;
    font-size: 11px;
    line-height: 11px;
    margin-right: 14px;
    color: $lighter-font-color;
    .copyright {
      display: inline-block;
      margin-right: 3px;
    }
    a {
      padding: 6px 0 4px 0;
    }
  }
}