@import '../modules/colors';
@import '../modules/typography';
@import '../modules/variables';

header {
  &.top {
    background: $lighter-gray;
    @media (max-width: $mobile-width) {
      display: none;
    }
  }
  &.bottom {
    background: white;
    @media (max-width: $mobile-width) {
      display: none;
    }
  }
  a {
    color: $font-color;
  }
  .account {
    float: right;
    a {
      font-family: $nudista;
      padding: 11px 18px;
      float: left;
      border-right: 1px solid white;
      font-size: 12px;
      line-height: 12px;
      &:first-child {
        border-left: 1px solid white;
      }
      &:hover{
        background: $dark-gray;
        color: white;
        text-decoration: none;
      }
      &.cart {
        background: url(../images/icon-cart.png) no-repeat;
        background-size: 24px 15px;
        background-position: 15px center;
        padding-left: 45px;
        padding-right: 14px;
        position: relative;
        &:hover {
          text-decoration: none;
          color: $bright-orange;
        }
        .count {
          position: absolute;
          left: 23px;
          top: 3px;
          font-weight: bold;
        }
      }
    }
  }
  $logo-margin-left: 33px;
  $logo-margin-right: 12px;
  $logo-width: 60px;
  $main-menu-padding: $logo-width;
  .main {
    background: white;
    padding-left: $main-menu-padding;
    text-align: center;
    @media (max-width: 991px) {
      width: 100%;
    }
    li{
      float: left;
      list-style-type: none;
    }
    a {
      
      padding: 22px 18px;
      font-size: 16px;
      line-height: 16px;
      text-transform: uppercase;
      &:hover, &:active {
        text-decoration: none;
        color: black;
      }
      &.active, &:hover {
        //color: black;

      }
      &.logo {
        position: absolute;
        top: -33px;
        left: 0;
        margin-right: 12px;
        padding: 0;
      }
      &.collections {
        width: $collections-menu-width;
      }
    }
  }
  #search{
    background: white;
    border-radius: 0px;
    padding: 0px;
    width: 125px;
    float: left;
    margin-top: -3px;
  }
  .mobile-search{
    display: none;
  }
  .search, .mobile-search {
    padding-top: 14px;
    padding-bottom: 14px;
    .input-container {
      padding-right: 0px;
    }
    .ui-effects-wrapper input {
      width: 100% !important;
      height: 32px !important;
    }
    input {
      font-size: 12px;
      line-height: 12px;
      padding-top: 11px !important;
      padding-bottom: 7px !important;
      border-radius: 0px;
    }
    .search-wrapper{
      border: 1px solid $light-font-color;
      width: 32px;
      float: right;
      overflow: hidden;
      padding-left: 10px;
      position: relative;
    }
    .icon {
      background: white url(../images/icon-search.png) no-repeat;
      background-size: 13px 13px;
      background-position: center center;
      min-width: 28px;
      width: 100%;
      height: 28px;
      position: absolute;
      right: 0px;
      cursor: pointer;
      width: 30px;
      @media (max-width: 768px) {
        margin-right: 0;
      }
    }
    @media (max-width: $mobile-width) {
      padding: 14px 15px;
      .icon {
        padding-right: 12px;
        margin-right: 0;
      }
      .input-container {
        padding-right: 0;
      }
      .search-wrapper{
      border: 1px solid $light-font-color;
      width: 100%;
      float: right;
      overflow: hidden;
      padding-left: 10px;
      position: relative;
    }
    }
  }
}

.top-header{
  color: $darker-gray;
  border-top: 1px solid $lighter-gray;
  padding-top: 10px;
  padding-bottom: 20px;
  h1{
    font-family: $nudista;
    font-weight: 200;
    font-size: 63px;
  }
  .tagline{
    font-family: $nudista;
    line-height: 28px;
    font-size: 14px;
    background: url(/images/brand-header-hr@2x.png);
    background-size: 806px 32px;
    width: 806px;
    height: 32px;
    span{
      color: $gray;
    }
  }
}