.ui-widget-header{
	background: none;
	border: 0;
	padding-left: 0;
}

.ui-tabs .ui-tabs-nav{
	padding-left: 0;
}

.ui-widget-content{
	background: none;
	border: none;
}

.ui-tabs .ui-tabs-panel{
	background: white;
	border: 1px solid $light-gray;
}

.ui-tabs .ui-state-hover a, .ui-state-hover{
	background: none;
	color: $light-font-color;
}

.ui-state-default, .ui-state-focus a{
	color: $light-font-color;
}

.ui-tabs li.ui-tabs-active{
	background: white;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	color: $font-color;
	background: white;
}

.ui-tabs .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
	background: white;
	color: $font-color;
	border-bottom: 0;
}

.ui-state-active a, .ui-state-active {
	background: white;
	color: $font-color;

}

.ui-state-default a, .ui-state-default a:link{
	font-family: $noto-sans;
	font-weight: 200;
}

.ui-state-active a, .ui-state-active a:link {
	color: $font-color;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited  {
	
}

.ui-tabs .ui-tabs-nav li{
	background: $lightest-gray;
	border: 1px solid $light-gray;
	border-bottom: 0;
}

//Accoridan
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	border: none;
	background: $lightest-gray;
}
#accoridan .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
	border: none;
	border-top: 1px solid $light-gray;
	background: none;
	color: $light-gray;
}

.ui-accordion .ui-accordion-header{
	padding: 0;
	margin: 0;
	height: 41px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: $noto-sans;
	font-weight: 200;
	border-radius: 0;
	color: $gray;
	line-height: 31px;
}

.ui-state-active{
	color: $gray;
}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon{
	right: 0px;
	top: 8px;
	left: auto;
}

#accordian-categories{
	.ui-accordion .ui-accordion-header{
		height: 28px;
	}
}