@import '../modules/colors';
@import '../modules/typography';
@import '../modules/variables';

.nav-container {
  position: relative;
  width: 980px;
  margin: auto;
  display: none;
  a{
    height: 57px;
    display:block;
    background: $gray-menu;
    color: white;
    margin-left: -15px;
    padding-left: 15px;
    font-size: 16px;
    font-family: $noto-sans;
    line-height: 57px;
    &:hover{
      background: $font-color;
      text-decoration: none;
    }
  }
  @media (max-width: $mobile-width) {

  }

}

nav li{
  position: relative;
  &:hover{
   .menu-item span {
        border-bottom: 3px solid black;
        padding-bottom: 1px;
      }
      .menu-nav{
        display: block;
      }
  }
  span{
    font-family: $nudista;
  }
}


  .menu-nav {
    position: absolute;
    left: 0;
    top: 60px;
    background: url(../images/dropdown-border.png);
    padding: 0 4px 4px 4px;
    z-index: 99;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: none;
    a {
      display: block;
      background: white;
      color: $light-font-color;
      &:hover {
        text-decoration: none;
      }
    }
    .sub-nav-container {
      background: white;
      width: 100%;
      padding: 6px 15px 45px 15px;
      text-align: left;
    }
    .sub-nav-row {
      display: table-row;
    }
    .sub-nav {
      display: table-cell;
      border-right: 1px solid $light-gray;
      padding: 0 24px 0 18px;
      vertical-align: top;
      h4 {
        font-family: $nudista;
        margin: 2px 0 8px 0;
        font-size: 13px;
        line-height: 14px;
        text-transform: uppercase;
        font-weight: bold;
        color: black;
      }
      h5 {
        font-family: $nudista;
        color: black;
        border-bottom: 1px solid black;
        text-transform: uppercase;
        margin: 20px 0 10px 0;
        padding-bottom: 2px;
      }
      a {
        font-family: $noto-sans;
        margin-left: 10px;
        width: 100%;
        font-size: 13px;
        line-height: 14px;
        padding: 4px 0;
        &:hover{
          color: black;
        }
        text-transform: none;
      }
      a.all {
        font-family: $nudista;
        color: $light-font-color;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 6px;
        margin-left: 0;
        span {
          background: url(../images/right-arrow-gray@2x.png) no-repeat;
          background-size: 6px 9px;
          display: inline-block;
          width: 6px;
          height: 9px;
          margin-left: 4px;
        }
      }
      &.men {
        padding-left: 0;
      }
    }
    &.collections {
      width: $collections-menu-width;
      left: 0px;
      a {
        border-top: 1px solid $medium-light-gray;
        text-transform: uppercase;
        text-align: center;
        padding: 8px;
        width: 100%;
        &:first-child {
          border-top: none;
        }
        &:hover {
          background: $font-color;
          color: white;
        }
      }
    }
    &.shop-by {
      width: $shop-by-menu-width;
      display: none;
      left: -315px;
    }
    &.discover {
      display: none;
      left: -415px;
      a{
        margin-left: 0;
      }
    }
    &.performance {
      display: none;
      left: -445px;
      a{
        margin-left: 0;
      }
    }
  }

.menu-nav .sub-nav h5.sub-section{
    margin-top: 20px;
  }

.sub-nav.ski-collections, .sub-nav.ski-technology{
  a{
    margin-left: 0;
  }
}

.sub-nav.ski-technology{
  border-right: 0;
}

.sub-nav.no-border{
  border-right: 0;
}

.sub-nav.featured{
  background: url(/images/right-menu-shadow@2x.png) no-repeat;
  background-size: 14px 459px;
  border-right: none;
  p{
    font-family: $noto-sans;
    font-size: 11px;
    font-weight: 100;
    color: $font-color;
    width: 200px;
  }
}

.sub-nav.customer-service, .sub-nav.passport, .sub-nav.national{
  min-width: 155px;
}

.sub-nav.press{
  min-width: 90px;
}

.sub-nav.insulation{
  min-width: 120px;
}

.sub-nav.technology{
min-width: 150px;
  }

.sub-nav.fabric{
  min-width: 200px;
}