@import '../modules/colors';
@import '../modules/typography';
@import '../modules/variables';
header {
  &.mobile {
    display: none;
    @media (max-width: $mobile-width) {
      display: block !important;
      background: white;
      nav {
        padding: 0;
        background: url(../images/mobile-logo@2x.png) no-repeat;
        background-position: center center;
        background-size: 38px 44px;
      }
      a {
        vertical-align: bottom;
      }
      .menu {
        background: url(/images/hamburger.png);
        height: 20px;
        width: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 15px;
      }
    }
    .right-menu{
      float: right;
      margin-top: 55px;
      margin-right: 15px;
        .location{
          background: url(/images/map-pin@2x.png);
          background-size: 10px 15px;
          width: 10px;
          height: 15px;
          margin-right: 10px;
        }
        .search-icon{
          background: url(/images/search-icon@2x.png);
          background-size: 15px 15px;
          width: 15px;
          height: 15px;
          margin-right: 10px;
        }
        .cart{
          background: url(/images/cart@2x.png);
          background-size: 15px 15px;
          width: 15px;
          height: 15px;
        }
    }
  }
}