@import '../modules/colors';
@import '../modules/typography';
@import '../modules/variables';
footer {
  &.mobile {
    display: none;
    overflow-x: hidden;
    @media (max-width: $mobile-width) {
      display: block !important;
      background: $dark-gray;
      padding-bottom: 14px;
      h4, a {
        color: white;
        text-transform: none;
        text-align: left;
      }
      .btn-gray {
        background: $dark-gray;
        display: block;
        width: 90%;
        margin: 4px auto 10px auto;
      }
      .row {
        border-top: 1px solid $medium-dark-gray;
        &.newsletter {
          float: none;
          text-align: left;
          h4 {
            padding-left: 15px;
          }
          .input-container {
            background: $darker-gray;
          }
          input[type="email"] {
            background: $darker-gray;
            width: 90%;
          }
        }
      }
      nav {
        &.links {
          margin-top: 0;
          a {
            border: none;
            float: left;
            width: 50%;
            padding: 12px;
          }
        }
      }
    }
  }
}