#tabs{
	margin-bottom: 20px;
	h1{
		font-family: $nudista;
		font-size: 25px;
		padding-top: 0px;
		margin-top: 0px;
	}
}

#tabs-3 h1{
	border-bottom: 1px solid $light-gray;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.item-box{
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	background: white;
	border: 1px solid $light-gray;
	border-radius: 5px;
	h1{
		font-family: $nudista;
		font-size: 25px;
		border-bottom: 1px solid $light-gray;
		padding-top: 0px;
		margin-top: 0px;
		padding-bottom: 10px;
		margin-bottom: 20px;
	}
}

.video-wrapper{
	display: inline-block;
	margin-right: 15px;
	width: 330px;
	vertical-align: top;
	position: relative;
	&.no-margin{
		margin-right: 0;
	}
	h3{
		font-family: $noto-sans;
		font-size: 20px;
		color: $font-color;
		margin-top: 10px;
	}
	p{
		font-family: $noto-sans;
		font-size: 13px;
		color: $font-color;
	}
}

.video-share-section{
	float: right;
	.video-share{
		color: $light-font-color;
		font-family: $noto-sans;
		font-size: 11px;
		font-weight: 600;
		float: left;
		border-right: 1px solid $light-gray-border;
		padding-right: 5px;
		&:hover{
			color: $font-color;
		}
		.share-box{
			position: absolute;
			right: 0;
			background: white;
			padding: 10px;
			width: 135px;
			-webkit-box-shadow: 2px 2px 7px 2px rgba(50, 50, 50, 0.14);
			-moz-box-shadow:    2px 2px 7px 2px rgba(50, 50, 50, 0.14);
			box-shadow:         2px 2px 7px 2px rgba(50, 50, 50, 0.14);
			display: none;
		}
	}
	.video-embed{
		position: relative;
		color: $light-font-color;
		font-family: $noto-sans;
		font-size: 11px;
		font-weight: 600;
		float: left;
		padding-left: 5px;
		&:hover{
			color: $font-color;
		}
		.embed-box{
			display: none;
			position: absolute;
			right: 0;
			background: white;
			padding: 10px;
			width: 340px;
			-webkit-box-shadow: 2px 2px 7px 2px rgba(50, 50, 50, 0.14);
			-moz-box-shadow:    2px 2px 7px 2px rgba(50, 50, 50, 0.14);
			box-shadow:         2px 2px 7px 2px rgba(50, 50, 50, 0.14);
			textarea{
				border: 1px solid $light-gray-border;
				font-family: $noto-sans;
				font-weight: 200;
				font-size: 13px;
				color: black;
				height: 68px;
				width: 100%;
				padding: 5px;
				margin-top: 5px;
			}
			.close{
				background: url(/images/close-embed@2x.png);
				background-size: 11px 11px;
				height: 11px;
				width: 11px;
				position: relative;
				right: 0;
			}
		}
	}
}

.twitter-share{
	background: url(/images/twitter-share@2x.png);
	background-size: 32px 32px;
	height: 32px;
	width: 32px;
	margin-right: 8px;
	float: left;
}

.facebook-share{
	background: url(/images/facebook-share@2x.png);
	background-size: 32px 32px;
	height: 32px;
	width: 32px;
	margin-right: 8px;
	float: left;
}

.googleplus-share{
	background: url(/images/googleplus-share@2x.png);
	background-size: 32px 32px;
	height: 32px;
	width: 32px;
	float: left;
}

.download-box{
	height: 141px;
	width: 141px;
	border: 1px solid $light-gray;
	border-radius: 5px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	position: relative;
	display: inline-block;
	background: url(/images/image-download-icon@2x.png) center center no-repeat;
	background-size: 44px 36px;
	&.pdf{
		background: url(/images/pdf-icon@2x.png) center center no-repeat;
		background-size: 39px 48px;
	}
	&.xls{
		background: url(/images/xls-icon@2x.png) center center no-repeat;
		background-size: 38px 48px;
	}
	.download-cover{
		display: none;
	}
	&:hover .download-cover{
		display: block;
		background: $lighter-gray;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		padding-top: 50px;
	}
	.download-text{
		font-family: $noto-sans;
		color: $font-color;
		font-size: 13px;
		font-weight: 100;
		z-index: 10;
		position: absolute;
		bottom: 5px;
		text-align: center;
		width: 100%;
	}
}

.accordian-header-open{
	background: url(/images/accordian-closed@2x.png) center right;
	background-image: url(/images/accordian-closed@2x.png) !important;
	background-size: 41px 41px;
	height: 41px;
	width: 41px;
	float: right;

}

.accordian-header-closed{
	background: url(/images/accordian-open@2x.png);
	background-image: url(/images/accordian-open@2x.png) !important;
	background-size: 41px 41px;
	height: 41px;
	width: 41px;
}

#carousel-popup{
	height: 333px;
	width: 90%;
	position: fixed;
	z-index: 100;
	margin-left: 5%;
	left: 0px;
	top: 50%;
	margin-top: -165px; 
	background: white;
	-webkit-box-shadow: 2px 2px 7px 2px rgba(50, 50, 50, 0.14);
	-moz-box-shadow:    2px 2px 7px 2px rgba(50, 50, 50, 0.14);
	box-shadow:         2px 2px 7px 2px rgba(50, 50, 50, 0.14);
	border: 1px solid $light-gray;
	.title-header{
		padding: 10px;
		height: 77px;
		text-align: center;
		position: relative;
		.popup-close{
			background: url('/images/red-close-btn@2x.png');
			background-size: 39px 39px;
			width: 39px;
			height: 39px;
			cursor: pointer;
			position: absolute;
			right: 0;
			top: 0;
		}
		.center-line{
			position: relative;
			top: -23px;
			left: 0;
			border-top: 1px solid $light-gray;
			z-index: 2;
		}
		.popup-title{
			position: relative;
			background: white;
			margin-top: 6px;
			border-left: 1px solid $light-gray;
			border-right: 1px solid $light-gray;
			font-family: $nudista;
			font-weight: 100;
			font-size: 32px;
			color: black;
			padding-left: 30px;
			padding-right: 30px;
			z-index: 3;
			display: inline-block;
		}
	}
	.image-section{
		background: $lighter-gray;
		border-top: 1px solid $light-gray;
		padding-top: 15px;
		overflow: hidden;
		height: 254px;
		.mCSB_draggerContainer{
			top: 10px;
			margin-left: 10px;
			margin-right: 10px;
		}
		.mCSB_scrollTools_horizontal{
			background: white;
			height: 55px;
			border-top: 1px solid $light-gray;
			.mCSB_draggerRail{
				height: 20px;
				background: $lighter-gray;
				border: 1px solid $light-gray;

			}
			.mCSB_dragger_bar{
				height: 14px;
				margin: 10px auto;
				background: white;
				border: 1px solid $light-gray;
				margin-left: 2px;
				margin-right: 2px;
			}
		}
		.image-box{
			margin-left: 5px;
			border: 1px solid $font-color;
			display: inline-block;
			position: relative;
			img{
				height: 136px;
			}
			.item-info{
				border-top: 1px dashed $dashed-border-gray;
				font-size: 13px;
				font-family: $noto-sans;
				color: $font-color;
				text-align: center;
			}
			.item-number{
				background: url(/images/gray-lined-back@2x.png);
				color: white;
				font-family: $noto-sans;
				font-size: 13px;
				text-align: center;
			}
			.details-cover{
				display: none;
			}
			&:hover .details-cover{
				cursor: pointer;
				display: block;
				background: url('/images/details-back@2x.png');
				width: 100%;
				height: 136px;
				position: absolute;
				top: 0;
				left: 0;
				padding-top: 50px;
				text-align: center;
				.view-details{
					background: url('/images/view-details@2x.png') no-repeat;
					background-size: 73px 51px;
					height: 51px;
					width: 73px;
					margin-left: 20px;

				}
			}
		}
	}
}

#detail-popup-back{
	position: fixed;
	height: 100%;
	width: 100%;
	background: url('/images/details-back@2x.png');
	top: 0;
	left: 0;
	z-index: 200;
}
#detail-box{
	width: 722px;
	height: 563px;
	background: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: fixed;
	top: 20px;
	z-index: 200;
	left: 50%;
	margin-left: -361px;
	.detail-title{
		font-family: $noto-sans;
		font-size: 24px;
		color: $darker-gray;
		border-bottom: 1px solid $lighter-gray;
		margin-top: 15px;
		padding-bottom: 10px;
		margin-right: 20px;
		margin-left: 20px;
	}
	.detail-close{
		position: absolute;
		right: 0;
		background: url(/images/details-close@2x.png);
		background-size: 61px 60px;
		width: 61px;
		height: 60px;
		cursor: pointer;
	}
	.detail-prev{
		background: url(/images/details-prev@2x.png);
		background-size: 43px 43px;
		height: 43px;
		width: 43px;
		position: absolute;
		left: 15px;
		top: 205px;
		cursor: pointer;

	}
	.detail-next{
		background: url(/images/details-next@2x.png);
		background-size: 43px 43px;
		height: 43px;
		width: 43px;
		position: absolute;
		right: 15px;
		top: 205px;
		cursor: pointer;
	}
	.detail-image{
		text-align: center;
		img{
			max-width: 528px;
			max-height: 337px;
			margin-top: 20px;
		}
	}
}

#circle{
	
}