
.customer-service{
	h1{
		text-align: center;
		font-size: 62px;
		font-family: $nudista;
		font-weight: 300;
	}
}


#tabs-min {
	background: transparent;
	border: none;
}
#tabs-min .ui-widget-header {
	background: transparent;
	border: none;
	border-bottom: 0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

#tabs-min .ui-tabs-panel{
	border-top: 0px;
	padding: 47px;
	h1{
		font-family: $nudista;
		font-size: 40px;
		font-weight: 300;
		padding-bottom: 20px;
	}
	h2{
		color: #999999;
		font-size: 17px;
	}
	p{
		color: #363636;
		font-size: 17px;
	}
}

#tabs-min .ui-tabs-nav li {
	margin-right: 1px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 8px;
	padding-bottom: 8px;

}

#tabs-min .ui-tabs-nav a#ui-id-3{
	padding-right: 20px;
	padding-left: 19px;
}

#tabs-min .ui-tabs-nav .ui-state-default {
	background: #7fd6f7;
	border: none;
	border-radius: 0;
	
}

.bottom-arrow{
	height: 17px;
	width: 100%;
	position: absolute;
	left: 0px;
	bottom: -17px;
}

#tabs-min .ui-tabs-nav .ui-state-default.ui-state-active {
	.bottom-arrow{
		
		display: block;
	}
	
	border: none;
	background: #00aeef;
}

#tabs-min .ui-tabs-nav .ui-state-default{
	.bottom-arrow{
		display: none;
	}
	&:hover{
		.bottom-arrow{
			display: block;
		}
		a{
			color: #FFFFFF;
			background: #00aeef;
		}
		color: #FFFFFF;
		background: #00aeef;
	}
}
#tabs-min .ui-tabs-nav .ui-state-default a {
	font-family: $noto-sans;
	font-size: 15px;
	color: #FFFFFF;
	background: #7fd6f7;
	display: block;
	&:hover{
		color: #FFFFFF;
		background: #00aeef;
	}
}
#tabs-min .ui-tabs-nav .ui-state-active a {
	color: #FFFFFF;
	background: #00aeef;
}

#tabs-min .scroller { 
    overflow: visible; 
} 
#tabs-min ul { 
    width: 1024px; 
}