.white-back{
	background: white;
	padding-left: 70px;
}

.breadcrumbs{
	font-family: $myriad;
	font-size: 12px;
	color: $light-gray;
	margin-bottom: 10px;
	.current{
		color: $font-color;
	}
	.arrow{

	}
	a{
		color: $blue-link;
		background: url(/images/products/breadcrumb-arrow@2x.png) no-repeat;
		background-position: right;
		background-size: 5px 12px;
		padding-right: 10px;
		margin-right: 5px;
	}
	a.back{
		color: $blue-link;
		background: url(/images/products/back-arrow-blue@2x.png) no-repeat;
		background-position: left;
		background-size: 5px 12px;
		padding-left: 10px;
		margin-right: 5px;
	}
}

.product-top{
	margin-bottom: 10px;
	padding-right: 60px;
}

.product-sort{
	float: right;
	color: $another-gray;
	font-size: 13px;
	.select2-container .select2-choice{
		padding-top: 0;
		padding-bottom: 0;
		font-size: 11px;
	}

	.select2-container-active{
		box-shadow: none;
		
	}

	.select2-dropdown-open{
		margin-bottom: 1px;
	}

	.select2-drop-active{
		font-size: 11px;
	}
}

#accordian-categories{
	margin-top: 10px;
	ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
		padding-bottom: 10px;
		li{
			a{
				background: url(/images/products/category-check@2x.png) no-repeat;
				background-size: 15px 15px;
				padding-left: 20px;
				font-size: 13px;
				color: $font-color;
				&:hover{
					font-weight: 600;
					text-decoration: none;
				}
				&.active{
					background: url(/images/products/category-check-active@2x.png) no-repeat;
					background-size: 15px 15px;
					font-weight: 600;
				}
			}
		}
	}
	h3{
		font-family: $noto-sans;
		font-size: 15px;
		color: $font-color;
		margin-top: 0px;
		font-weight: 100;
		border-top: 1px solid $font-color;
		padding-top: 5px;
		background: url(/images/products/category-arrow-close@2x.png) center right no-repeat;
		background-size: 13px 8px;
		background-position: 147px 10px;
		cursor: pointer;


		&.closed{
			background: url(/images/products/category-arrow-open@2x.png) center right no-repeat;
			background-size: 13px 8px;
			background-position: 147px 10px;
		}
	}
}

.hide-menu{
	font-family: $noto-sans;
	color: $font-color;
	font-size: 11px;
	padding-bottom: 10px;

}

.product-categories{
	width: 171px;
	float: left;
	padding-top: 13px;
}

.product-list{
	width: 730px;
	float: left;	
	margin-left: 35px;
}


.accordian-category-open{
	background: url(/images/products/category-arrow@2x.png);
	background-image: url(/images/products/category-arrow@2x.png) !important;
	background-size: 13px 15px;
	background-position: 0 0;
	height: 7.5px;
	width: 13px;
	float: right;

}

.accordian-category-closed{
	background: url(/images/products/category-arrow@2x.png);
	background-image: url(/images/products/category-arrow@2x.png) !important;
	background-size: 13px 15px;
	background-position: 0 7.5px;
	height: 7.5px;
	width: 13px;
}

.product-wrapper{
	display: inline-block;
	margin-right: 35px;
	vertical-align: top;
}

.product-title{
	font-family: $noto-sans;
	font-size: 13px;
	font-weight: 100;
	color: $darker-gray;
	margin-bottom: 4px;
}

.product-price{
	font-family: $noto-sans;
	font-size: 11px;
	font-weight: 600;
	color: $darker-gray;
	margin-bottom: 4px;
}

.product-sku{
	font-family: $noto-sans;
	font-size: 10px;
	font-weight: 100;
	color: $darker-gray;
}

.color-swatches{
	margin-top: 10px;
}

.color-wrapper{
	width: 18px;
	height: 20px;
	display: inline-block;
	cursor: pointer;
	&:hover .circle-hover{
		display: block;
	}
	&.active .circle-hover{
		display: block;
	}
	.circle-hover{
		display: none;
		
		&:hover{
			
		}
	}
}