.details-left{
	width: 453px;
	float: left;
	margin-top: 30px;
}

.details-right{
	width: 460px;
	float: left;
	margin-left: 57px;
}

.product-image{

}

h1{
	font-size: 32px;
	font-family: $noto-sans;
	font-color: $darker-gray;
	margin-top: 0;
}

h2{
	font-size: 14px;
	font-family: $noto-sans;
	font-color: $darker-gray;
	font-weight: 600;
}

.details-price{
	color: $darker-gray;
	font-family: $noto-sans;
	font-size: 16px;
	margin-bottom: 5px;
}

.details-sku{
	color: $font-color;
	font-family: $noto-sans;
	font-size: 10px;
	margin-bottom: 20px;
}

.details-info{
	color: $font-color;
	font-family: $noto-sans;
	font-size: 14px;
	margin-bottom: 20px;
}

.color-info{
	color: $font-color;
	font-family: $noto-sans;
	font-size: 14px;
	margin-bottom: 10px;
}

.color-swatches{
	margin-bottom: 10px;
}

.size-header{
	color: $font-color;
	font-family: $noto-sans;
	font-size: 14px;
	margin-bottom: 10px;
}

.size-boxes{
	margin-bottom: 30px; 
	.size{
		border: 1px solid $light-font-color;
		width: 37px;
		height: 32px;
		font-weight: 600;
		color: $darker-gray;
		font-size: 14px;
		border-radius: 3px;
		text-align: center;
		float: left;
		margin-right: 5px;
		cursor: pointer;
		&.disabled{
			border: 1px solid $dashed-border-gray;
			color: $dashed-border-gray;
			.size-inner{
				color: $dashed-border-gray;
			}
			&:hover{
				.size-inner{
					background: white;
					color: $dashed-border-gray;
				}
			}
		}
		.size-inner{
			background: white;
			color: $darker-gray;
			height: 26px;
			width: 31px;
			border-radius: 2px;
			margin-top: 2px;
			margin-left: 2px;
			padding-top: 3px;
			&.active{
				background: $darker-gray;
				color: #FFF;
			}
		}
		&:hover{
			.size-inner{
				background: $darker-gray;
				color: #FFF;
			}
		}
	}
}

.share{
	margin-top: 20px;
	margin-bottom: 15px;
	border-top: 1px solid $lighter-gray;
	border-bottom: 1px solid $lighter-gray;
	padding-top: 5px;
	padding-bottom: 5px;
	.facebook{
		background: url(/images/product/facebook@2x.png) no-repeat;
		background-size: 20px 20px;
		height: 20px;
		width: 20px;
		cursor: pointer;
		float: left;
		margin-right: 15px;
		vertical-align: middle;
		&:hover{
			background: url(/images/product/facebook-hover@2x.png) no-repeat;
			background-size: 20px 20px;
		}
	}
	.twitter{
		background: url(/images/product/twitter@2x.png) no-repeat;
		background-size: 20px 16px;
		height: 16px;
		width: 20px;
		cursor: pointer;
		float: left;
		margin-right: 15px;
		vertical-align: middle;
		&:hover{
			background: url(/images/product/twitter-hover@2x.png) no-repeat;
			background-size: 20px 16px;
		}
	}
	.google{
		background: url(/images/product/google@2x.png) no-repeat;
		background-size: 18.5px 18px;
		height: 18px;
		width: 18.5px;
		cursor: pointer;
		float: left;
		margin-right: 15px;
		vertical-align: middle;
		&:hover{
			background: url(/images/product/google-hover@2x.png) no-repeat;
			background-size: 18.5px 18px;
		}
	}
	.mail{
		background: url(/images/product/mail@2x.png) no-repeat;
		background-size: 18.5px 13.5px;
		height: 13.5px;
		width: 18.5px;
		cursor: pointer;
		float: left;
		margin-right: 15px;
		vertical-align: middle;
		&:hover{
			background: url(/images/product/mail-hover@2x.png) no-repeat;
			background-size: 18.5px 13.5px;
		}
	}
}

.video-info{
	float: left;
	font-family: $noto-sans;
	font-size: 12px;
	font-color: $font-color;
	font-weight: 200;
	width: 250px;
	margin-left: 15px;
}

.product-video{
	float: left;
	background: url(/images/product/video@2x.png) no-repeat;
	background-size: 170px 103.5px;
	width: 170px;
	height: 103.5px;
	cursor: pointer;

}

.product-info{
	p{
		font-weight: 200;
	}
}

.related-products{
	margin-top: 20px;
	img{
		margin-right: 10px;
	}
}